A1 - Web Client Java Code/xml-resources/web-service-references/Login/wsdl/localhost_8080/CW_WebServices/Login.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://login_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://login_ws/" name="Login">
<types>
<xsd:schema>
<xsd:import namespace="http://login_ws/" schemaLocation="http://localhost:8080/CW_WebServices/Login?xsd=1"/>
</xsd:schema>
</types>
<message name="login_employee">
<part name="parameters" element="tns:login_employee"/>
</message>
<message name="login_employeeResponse">
<part name="parameters" element="tns:login_employeeResponse"/>
</message>
<message name="show_employees">
<part name="parameters" element="tns:show_employees"/>
</message>
<message name="show_employeesResponse">
<part name="parameters" element="tns:show_employeesResponse"/>
</message>
<message name="update_employee">
<part name="parameters" element="tns:update_employee"/>
</message>
<message name="update_employeeResponse">
<part name="parameters" element="tns:update_employeeResponse"/>
</message>
<message name="delete_employee">
<part name="parameters" element="tns:delete_employee"/>
</message>
<message name="delete_employeeResponse">
<part name="parameters" element="tns:delete_employeeResponse"/>
</message>
<message name="add_employees">
<part name="parameters" element="tns:add_employees"/>
</message>
<message name="add_employeesResponse">
<part name="parameters" element="tns:add_employeesResponse"/>
</message>
<portType name="Login">
<operation name="login_employee">
<input wsam:Action="http://login_ws/Login/login_employeeRequest" message="tns:login_employee"/>
<output wsam:Action="http://login_ws/Login/login_employeeResponse" message="tns:login_employeeResponse"/>
</operation>
<operation name="show_employees">
<input wsam:Action="http://login_ws/Login/show_employeesRequest" message="tns:show_employees"/>
<output wsam:Action="http://login_ws/Login/show_employeesResponse" message="tns:show_employeesResponse"/>
</operation>
<operation name="update_employee">
<input wsam:Action="http://login_ws/Login/update_employeeRequest" message="tns:update_employee"/>
<output wsam:Action="http://login_ws/Login/update_employeeResponse" message="tns:update_employeeResponse"/>
</operation>
<operation name="delete_employee">
<input wsam:Action="http://login_ws/Login/delete_employeeRequest" message="tns:delete_employee"/>
<output wsam:Action="http://login_ws/Login/delete_employeeResponse" message="tns:delete_employeeResponse"/>
</operation>
<operation name="add_employees">
<input wsam:Action="http://login_ws/Login/add_employeesRequest" message="tns:add_employees"/>
<output wsam:Action="http://login_ws/Login/add_employeesResponse" message="tns:add_employeesResponse"/>
</operation>
</portType>
<binding name="LoginPortBinding" type="tns:Login">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login_employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="show_employees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add_employees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Login">
<port name="LoginPort" binding="tns:LoginPortBinding">
<soap:address location="http://localhost:8080/CW_WebServices/Login"/>
</port>
</service>
</definitions>